<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="balti.migrate.helper">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />
    <!--<uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />-->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--for wifi restore-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".AppInstance"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".simpleActivities.MainActivityKotlin"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".restoreSelectorActivity.RestoreSelectorKotlin"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            />

        <activity android:name=".extraRestorePrepare.ExtraRestorePrepare"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            />

        <activity android:name=".simpleActivities.ProgressShowActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            />

        <activity android:name=".postJobs.PostJobsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/PostJobsActivityTheme"
            />

        <activity android:name=".simpleActivities.SimpleLogViewer"
            android:screenOrientation="portrait"
            />

        <activity android:name=".preferences.MainPreferencesActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".extraRestorePrepare.AddonInstallerActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Dialog"
            />

        <receiver android:name=".utilities.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" android:priority="999"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".utilities.AddonReceiver">
            <intent-filter>
                <action android:name="balti.migrate.helper.RECEIVER"/>
            </intent-filter>
        </receiver>

        <service android:name=".utilities.StupidStartupServiceKotlin"
            android:exported="false"/>

        <service android:name=".restoreEngines.RestoreServiceKotlin"
            android:exported="false"/>

        <service android:name=".utilities.UninstallServiceKotlin"/>
        
        <provider
            android:authorities="migrate.helper.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!--Dummies-->

        <receiver android:name=".dummies.SmsBroadcastReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".dummies.MmsBroadcastReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <activity android:name=".dummies.ComposeSmsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>

        <service android:name=".dummies.HeadlessSmsSendService"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

    </application>

</manifest>